.projects__wrapper {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  gap: 10%;
  margin-bottom: 5rem;
  justify-items: center;
  justify-content: center;
  }
  
  .projects__card {
    width: 40%;
    text-align: center;

  }
  
  .projects__card-button img {
    width: 18px;
  }
  
  .project-img {
    border-left: 5px solid #00d2df;
    width: 100%;
    transition: 0.5s;
  }
  
  .project-img:hover {
    transform: scale(110%);
    border-left: 5px solid rgba(101, 24, 180, 1);
  }
  
  .projects__card h2 {
    font-size: 1.3rem;
    color: #fff;
    margin: 2.5rem 0;
  }
  
  .projects__card span {
    color: #00d2df;
    font-size: 0.9rem;
    display: block;
    margin: 1rem 0;
  }
  
.textored {
  color: red;
  text-align: center;
}

.textoblue {
  color: blue;
  text-align: center;
}

@media (max-width: 540px) {
  a {
    font-size: 15px;
  }
}