header {
    width: 100%;
}
  
nav {
    padding: 0 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #151515;
    border-bottom: 2px solid #272727;
    height: 80px;
    transition: 0.3s;
}

nav.fixed {
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
}
  
nav ul {
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
    color: #fff;
}
  
nav ul li {
    list-style: none;
    color: #C4C4C4;
    margin: 10px 30px;
}
  
nav ul li::after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    margin-top: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
nav ul li:hover {
    color: #ffc107;
}
  
nav ul li:hover::after {
    transform: scaleX(1);
}

span {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  span {
    display: block;
    text-align: end;
    cursor: pointer;
    font-size: 32px;
    padding: 0.8rem 1rem;
  }
   .is-open {
    display: block;
    background-color: #151515;
    border: none;
    padding: .8rem 1rem;
  } 
   ul#menu {
    display: block;
    text-align: end;
    margin-right: -15px;
    margin-top: -33px;
  }
  nav ul li::after {
      border-bottom: none;
  }
  .is-open::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      transition: .3s transform;
  }
  .is-open::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 50%;
      left: 0;
      height: 3px;
      width: 100%;
      transition: .3s transform;
  }
}
