<section class="main" id="home">
    <div class="main__left">
      <h1>Olá, eu sou</h1>
      <h2 class="myname">{{name}}</h2>
      <h1>{{profession}}.</h1>
      <div class="main__button">
        <a href="https://www.linkedin.com/in/leonardomancilha/" target="_blank">
          <div class="main__button-linkedin">
            <button class="mylinkedin">LinkedIn</button>
          </div>
        </a>
        <a href="https://github.com/LeonardoMancilha" target="_blank">
          <div class="main__button-github">
            <button class="mygithub">GitHub</button>
          </div>
        </a>
      </div>
    </div>
    <div class="main__right">
      <img src="https://leonardomancilha.github.io/assets/img/me.jpg" alt="uma foto minha.">
    </div>
</section>